<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>704115223030-be0utt44qiidcvtnqrrts6ip4ffd9bfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704115223030-be0utt44qiidcvtnqrrts6ip4ffd9bfp</string>
	<key>API_KEY</key>
	<string>AIzaSyDAhoeVJTS9osMXCuT99tdi4CA71NCiPM8</string>
	<key>GCM_SENDER_ID</key>
	<string>704115223030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charlesmoncada.Efimerum</string>
	<key>PROJECT_ID</key>
	<string>efimerum-48618</string>
	<key>STORAGE_BUCKET</key>
	<string>efimerum-48618.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:704115223030:ios:27135128831b62fd</string>
	<key>DATABASE_URL</key>
	<string>https://efimerum-48618.firebaseio.com</string>
</dict>
</plist>